{
  "presets": [
    "env",
    "react-native"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
